.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}

.section_cours,
.section_quiz, 
#sommaire  {
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--grey_card_open);
}

.section_cours {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    

}

.conteneur_titre {
    background-color: var(--rouge);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    position: relative;
    gap: 20px;


}

.titre_section {
    text-align: center;
}

.contenue_cours {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.conteneur_cours,
.conteneur_quiz {
    padding: 20px;
    

}

.conteneur_reponses {
    display: flex;
    flex-direction: column;
}

.conteneur_reponse {
    /* display: flex; */
    width: fit-content;
    border-radius: 1000px;
    padding: 1px 7px;
}



.correction { 
    color: var(--vert);
}

#sommaire {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    
    /* padding: 30px; */
    width: 100%;
    

}

.conteneur_card {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.conteneur_button {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 30px;
}

.conteneur_button button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--bleu);
    color: white;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 16px;
    box-shadow: 1px 2px black;
    border: none;
}

.conteneur_button button:hover {
    background-color: var(--bleu_hover);
    transition-duration: 0.2s;
}

.sommaire_card {
    display: flex;
    /* width: 700px; */
    /* height: 30px; */
    margin: 10px 0;
    padding: 20px 43px;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.28);

    justify-content: space-between;
    align-items: center;

}

.sommaire_card h2 {
    color: #EDEDED;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "poppins", sans-serif;
}

.sommaire_button{
    display: flex;
    width: 170px;
    cursor: pointer;
    
    height: 40px;
    padding: 19px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: linear-gradient(90deg, #0082A9 0%, #50BEDF 100%);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    font-family: "poppins", sans-serif;
}

.button_action {
    display: flex;
    color: white;
    font-weight: 900;
    /* font-size: 100px; */
    /* margin-left: 50px; */
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 5px;
    width: auto;
    width: 30px;
    height: 30px;
    
}



.card,
#sommaire {
    max-width: 900px;
    /* min-width: 570px; */
}

