.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    max-width: 1140px;
    min-width: 570px;
    width: 100%;
}

.section_cours {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--grey_card_open);
    padding: 0;
    border-radius: 30px;
    overflow: hidden;

}

.conteneur_titre {
    background-color: var(--rouge);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
    position: relative;

}

.conteneur_titre button {
    position: absolute; 
    right: 30px;
    top: calc(50% - 10px);
}

.conteneur_cours, .conteneur_quizz {
    padding: 20px;
}

.section_quiz {
    background-color: var(--grey_card_open);
    border-radius: 30px;
    overflow: hidden;
}

.conteneur_reponses {
    display: flex;
    flex-direction: column;
}

/* .conteneur_reponse {
    display: flex;
} */


