.card {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
}

.section_cours {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--grey_card_open);
    padding: 0;

}

.conteneur_titre {
    background-color: var(--rouge);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
    position: relative;

}

.conteneur_titre button {
    position: absolute; 
    right: 30px;
    top: calc(50% - 10px);
}

