body {
    background-color: var(--color_fond);
    margin: 0;
}

main {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 300px;
}