.progress_bar  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.progress_bar_pourcentage {
    color: black;
    font-weight: 600;
    font-family: var(--poppins);
}